<h1>Editing Your Personal Information</h1>

<% form_tag :action => 'update', :id => @user do %>
  <table>
	<%= render :partial => 'form' %>
  <tr>
	<td><%= link_to "Change Password", :action => :change_password, :id => @user.id %> </td>
  </tr>
  <tr>
  	<td> <%= submit_tag 'Edit' %> </td>
  </tr>
  </table>
<% end %>

