
<div id="sub_menu">
<div id="menu">
<ul>
	<li><%= link_to "List Config files", :action => :list_conf_file %>  </li>
	<li> <%= link_to "New Config file", :action => :new_conf_file %>  </li>
	<li> <%= link_to "New Config (split)", :action => :split_resources%>   </li>
</ul>
</div>
</div>
