<div id="sub_menu">
<div id="menu">
<ul>
	<li> <%= link_to "List Users", :action => :list %> </li>
	<li> <%= link_to "Activated Users", :action => :activated %>  </li>
	<li> <%= link_to "Deactivated Users", :action => :deactivated %> </li>
	<li> <%= link_to "New User", :action => :new %> </li>
</ul>

</div>
</div>
